
  
*{margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Roboto", "sans-serif"}
  
  a{
      text-decoration: none;
      color:black
  }
  
  button {
      border:none;
      background-color: transparent;
      outline:none;
  }

  body{
      height:200vh;
  }