.noDataInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noDataInfo a {
  width: 100%;
  margin-top: 20%;
}

.noDataInfo p {
  width: 150%;
}

.button {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) and (orientation: portrait) {
  .noDataInfo p {
    font-size: 26px;
  }

  .noDataInfo a {
    margin-top: 14%;
  }

  .button {
    font-size: 26px;
    width: 65%;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .noDataInfo p {
    width: 120%;
  }

  .noDataInfo a {
    margin-top: 8%;
  }

  .button {
    font-size: 19px;
    width: 50%;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .results {
    width: 80%;
  }

  .noDataInfo p {
    font-size: 20px;
  }

  .button {
    width: 40%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .noDataInfo p {
    width: 100%;
    font-size: 22px;
  }

  .noDataInfo a {
    margin-top: 10%;
  }

  .button {
    font-size: 22px;
    width: 35%;
  }
}

@media (min-width: 1250px) and (orientation: landscape) {
  .results {
    width: 75%;
  }

  .noDataInfo p {
    width: 105%;
  }
}
